
/* customize for body */ 
body { background-image:url(../../img/patterns/pattern12.png)} 
body { background-attachment:fixed} 
body { background-repeat:repeat} 

/* customize for topbar */ 

/* customize for header-main */ 

/* customize for footer */ 

/* customize for product */ 

/* customize for modules */ 

/* customize for highlighted-modules */ 
